@import "./theme.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  @include themify('background', 'primary');
  @include themify('color', 'secondary');
  font: 400 16px Roboto, sans-serif;
}
